<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        

       
    </head>
    <body>
       {# templates/emails/signup.html.twig #}
        <h1>Bienvenue {{ contact.nom}}!</h1>
        <p>Email : <code>{{ contact.email }}</code></p>
        <p>Sujet : <code>{{ contact.sujet }}</code></p>
        <p>Message : </p>
        <div><code>{{ contact.message|raw }}</code></div>
        
    </body>
</html>
